@page {
    @top-right{
        content: "Acrylic.la Inc";
        font-family: verdana, sans-serif;
        font-size:10px;
        font-style: italic;
    }
}


body {
    font-family: verdana, sans-serif;
    font-size: 10pt;
    line-height:1.6em;
}

.bold {
    font-weight:bold;
}

.page-break {
    page-break-before: always;
}

h1 {
    font-size:12pt;
    text-align:center;
    font-weight:bold;
    margin-bottom:1.2cm;
    line-height: 2em;
}

h1.normal {
    font-weight:normal;
}

h2 {
    font-size:10pt;
    font-weight:bold;
    margin-bottom:0.6cm;
}

h3, h4, h5, h6 {
    font-size:10pt;
}

p {
    margin:0 0 20px 0;
}

ul, ol {
}

p.l1, p.l2, p.l3, p.l4 {
    display: block;
    position:relative;
    width:100%;
}

p.l1 span:first-child, p.l2 span:first-child, p.l3 span:first-child, p.l4 span:first-child {
    float:left;
    position:absolute;
    display:block;
    margin-left:-50px;
}

p.l1 {
    padding-left:1cm;
    width:16cm;

}
p.l2 {
    padding-left:1.5cm;
    width:14.5cm;
}
p.l3 {
    padding-left:2cm;
    width:14cm;
}
p.l4 {
    width:13.5cm;
    padding-left:2.5cm;
}

table {
    border-collapse: collapse; 
    border:1px solid #000;
}

td, th {
    border:1px solid #000;
    padding:0.1cm;
    min-width:5cm;
    text-align:center;
}


.escritura {
    font-family: 'courier new', sans-serif;
    font-size:12pt;
    padding:0 2cm;
    line-height:1.8em;
}


.center {
    text-align:center;
}

.highlight {
    background-color: #ffee00;
}

.white {
    color:#fff;
}