/* status */
.status {
    text-transform:uppercase;
    text-align:center;
    padding:4px 8px;
    color:#fff;
    font-size:10px;
    white-space:nowrap;
    letter-spacing:0.5px;
}
.disabled .status, .disabled img {
    opacity:0.4;
}

.status.big {
    padding:8px 20px;
    font-size:12px;
}

td .status {
    display:block;
}
.status.incomplete, .status.pending {
    background:#EB8A6C;
}
.status.paused, .status.pause {
    background:#07D7D3;
}
.status.canceled, .status.error {
    background:#C24343;
}
.status.active, .status.paid, .status.sent {
    background:#20E19D;
}
